<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ECommerceApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:theme="@style/Theme.ECommerceEF.SafeArea"
        android:usesCleartextTraffic="true">

        <!-- Login Activity (Launcher) -->
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Register Activity -->
        <activity
            android:name=".presentation.register.RegisterActivity"
            android:exported="false" />

        <!-- Main Activity -->
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="false" />

        <!-- Product List Activity -->
        <activity
            android:name=".presentation.products.ProductListActivity"
            android:exported="false" />

        <!-- Product Detail Activity -->
        <activity
            android:name=".presentation.products.ProductDetailActivity"
            android:parentActivityName=".presentation.products.ProductListActivity"
            android:exported="false" />

        <!-- Cart Activity -->
        <activity
            android:name=".presentation.cart.CartActivity"
            android:parentActivityName=".presentation.products.ProductListActivity"
            android:exported="false" />

        <!-- Checkout Activity -->
        <activity
            android:name=".presentation.chekout.CheckoutActivity"
            android:parentActivityName=".presentation.cart.CartActivity"
            android:exported="false" />

        <!-- Comprobante Activity -->
        <activity
            android:name=".presentation.comprobante.ComprobanteActivity"
            android:parentActivityName=".presentation.chekout.CheckoutActivity"
            android:exported="false" />

    </application>
</manifest>